.eventSection {
  width: 100%;
  // background: url("../images/event-table-bg-pc.jpg") no-repeat top center;
  // background-size: 100%;
  background: -webkit-linear-gradient(to right, #c4a18b, #e5bda4, #c4a18b);
  background: linear-gradient(to right, #c4a18b, #e5bda4, #c4a18b);
  // padding: 100px 0;
  text-align:left ;
  .locationbox {
    max-width: 100%;
    // margin: 25px auto 0;

    .selectBox {
      display: flex;
      align-items: center;
      border: 1px solid #fff;
      .locationLabel {
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1.5;
        color: #fff;
        flex: 0 0 237px;
        padding: 10px;
      }
      .locationSelect {
        width: 100%;
        // padding: 0 0 0 10px;
        // border: 1px solid #fff;
        padding-left: 20px;
        select {
          appearance: none;
          width: 100%;
          background: url("../images/tableArrow.png") no-repeat right 45px center;
          background-size: 30px;
          padding: 10px;
          // color: #e1baa2;
          font-size: 24px;
          font-size: 2.4rem;
          line-height: 1.5;
          color: #fff;
          border: none;
          option{
            background-color: #e5bda4;
          }
        }
      }
    }
    .locationResult {
      .result {
        display: none;
        color: #fff;
        font-size: 24px;
        font-size: 2.4rem;
        // margin: 20px auto 0;
        &.on {
          display: block;
        }
        .name,
        .tel,
        .time {
          display: flex;
          line-height: 1.5;
          padding: 10px;
          border: 1px solid #fff;
          .tit {
            flex: 0 0 237px;
            color: #fff;
          }
          .txt {
            padding-left: 20px;
          }
        }
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}
