.eventSection {
  background: url("../images/eventbg-pc.png") no-repeat top center;
  background-size: 100%;
  padding: 100px 0;
    .locationbox {
      max-width: 650px;
      margin: 25px auto 0;
      .selectBox {
        display: flex;
        align-items: center;
        .locationLabel {
          font-size: 22px;
          font-size: 2.2rem;
          color: $gold;
          flex: 0 0 150px;
        }
        .locationSelect {
          width: 100%;
          padding: 0 0 0 10px;
          select {
            appearance: none;
            width: 100%;
            border: 1px solid $gold;
            background: url("../images/selectArrow.png") no-repeat right 15px
              center #000;
            background-size: 30px;
            padding: 10px;
            color: #fff;
            font-size: 20px;
            font-size: 2rem;
          }
        }
      }
      .locationResult {
        .note {
          font-size: 17px;
          font-size: 1.7rem;
          color: #c4c4c4;
          margin: 10px 0 0;
        }
        .result {
          display: none;
          color: #fff;
          font-size: 20px;
          font-size: 2rem;
          background: rgba(0, 0, 0, 0.5);
          border-top: 1px dotted $gold;
          border-bottom: 1px dotted $gold;
          margin: 20px auto 0;
          &.on {
            display: block;
          }
          .name,
          .tel,
          .time {
            display: flex;
            line-height: 1.5;
            padding: 10px;
            .tit {
              flex: 0 0 100px;
              color: $gold;
            }
          }
          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  
  .eventbottom {
    .eventdetail {
      margin: 50px auto 0;
      max-width: 725px;
      .detail-title {
        display: flex;
        align-items: center;
        .pic {
          flex: 0 0 140px;
        }
        .text {
          width: 100%;
          letter-spacing: 0.1em;
          padding: 0 0 25px 30px;
          h1 {
            font-size: 40px;
            font-size: 4rem;
            font-family: "Noto Serif TC";
          }
          h2 {
            font-size: 26px;
            font-size: 2.6rem;
            font-weight: 300;
            color: $gold;
            margin: 10px 0 0;
          }
        }
      }
      .detail-note {
        margin: -15px auto 0;
        padding: 0 0 0 170px;
        .txt {
          font-size: 22px;
          font-size: 2.2rem;
          line-height: 1.5;
          color: #fff;
        }
        .note {
          font-size: 17px;
          font-size: 1.7rem;
          color: #c4c4c4;
          line-height: 1.5;
        }
      }
    }
  }
  .btnwrap {
    max-width: 325px;
    margin: 40px auto 0;
    position: relative;
  }
  .linkBtn {
    display: block;
    padding: 20px 15px;
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    background: url("../images/btn-bg.jpg") no-repeat top center;
    background-size: 100% 100%;
    text-align: center;
    &:before {
      content: "";
      background: url("../images/shine_light.png");
      background-position: center;
      background-size: cover;
      position: absolute;
      width: 200%;
      height: 200%;
      margin-top: -15%;
      display: block;
      pointer-events: none;
      animation: btn-shine 4s ease 1s infinite;
    }
    &:hover {
      color: $gold;
    }
  }
}
@media screen and (max-width: 1600px) {
  .eventSection {
    .title {
      font-size: 46px;
      font-size: 4.6rem;
      margin: 0 auto 20px;
      span {
        padding: 0 0 0 20px;
      }
    }
    .title-text {
      font-size: 22px;
      font-size: 2.2rem;
      margin: 0 auto 50px;
    }
    .eventtop {
      .featurebox {
        .feature-title {
          font-size: 30px;
          font-size: 3rem;
          margin: 0 auto 15px;
        }
        .feature-subtitle {
          font-size: 22px;
          font-size: 2.2rem;
          margin: 0 auto 10px;
        }
        p {
          font-size: 16px;
          font-size: 1.6rem;
        }
      }
      .eventdetail {
        .detail-title {
          .pic {
            flex: 0 0 120px;
          }
          .text {
            padding: 0 0 25px 30px;
            h1 {
              font-size: 34px;
              font-size: 3.4rem;
            }
            h2 {
              font-size: 22px;
              font-size: 2.2rem;
              margin: 10px 0 0;
            }
          }
        }
        .detail-content {
          padding: 0 0 0 150px;
          margin: 0 auto 30px;
          .step {
            font-size: 18px;
            font-size: 1.8rem;
          }
        }
        .detail-note {
          .note-pic {
            flex: 0 0 250px;
          }
          .note-list {
            font-size: 16px;
            font-size: 1.6rem;
          }
        }
        .locationbox {
          margin: 20px auto 0;
          .selectBox {
            .locationLabel {
              font-size: 20px;
              font-size: 2rem;
              flex: 0 0 130px;
            }
            .locationSelect {
              select {
                font-size: 20px;
                font-size: 2rem;
              }
            }
          }
          .locationResult {
            .note {
              font-size: 16px;
              font-size: 1.6rem;
              margin: 10px 0 0;
            }
            .result {
              font-size: 18px;
              font-size: 1.8rem;
              margin: 15px auto 0;
            }
          }
        }
      }
    }
    .eventbottom {
      .eventdetail {
        .detail-title {
          .pic {
            flex: 0 0 120px;
          }
          .text {
            padding: 0 0 25px 30px;
            h1 {
              font-size: 34px;
              font-size: 3.4rem;
            }
            h2 {
              font-size: 22px;
              font-size: 2.2rem;
            }
          }
        }
        .detail-note {
          margin: -15px auto 0;
          padding: 0 0 0 150px;
          .txt {
            font-size: 18px;
            font-size: 1.8rem;
          }
          .note {
            font-size: 16px;
            font-size: 1.6rem;
          }
        }
      }
    }
    .linkBtn {
      padding: 15px 15px;
      font-size: 22px;
      font-size: 2.2rem;
      background: url("../images/btn-bg.jpg") no-repeat top center;
      background-size: 100% 100%;
      text-align: center;
    }
  }
}
@media screen and (max-width: 1000px) {
  .eventSection {
    padding: 100px 0;
    .title {
      font-size: 34px;
      font-size: 3.4rem;
      margin: 0 auto 10px;
      span {
        padding: 0 0 0 10px;
      }
    }
    .title-text {
      font-size: 18px;
      font-size: 1.8rem;
      margin: 0 auto 30px;
    }
    .eventtop {
      max-width: 850px;
      width: 90%;
      margin: 0 auto;
      .featurebox {
        .feature-title {
          font-size: 30px;
          font-size: 3rem;
          margin: 0 auto 15px;
        }
        .feature-subtitle {
          font-size: 22px;
          font-size: 2.2rem;
          margin: 0 auto 10px;
        }
        p {
          font-size: 16px;
          font-size: 1.6rem;
        }
      }
      .eventdetail {
        .detail-title {
          .pic {
            flex: 0 0 120px;
          }
          .text {
            padding: 0 0 25px 30px;
            h1 {
              font-size: 32px;
              font-size: 3.2rem;
            }
            h2 {
              font-size: 18px;
              font-size: 1.8rem;
              margin: 10px 0 0;
            }
          }
        }
        .detail-content {
          padding: 0 0 0 150px;
          margin: 0 auto 30px;
          .step {
            font-size: 18px;
            font-size: 1.8rem;
          }
        }
        .detail-note {
          .note-pic {
            flex: 0 0 250px;
          }
          .note-list {
            font-size: 16px;
            font-size: 1.6rem;
          }
        }
        .locationbox {
          margin: 20px auto 0;
          .selectBox {
            .locationLabel {
              font-size: 18px;
              font-size: 1.8rem;
              flex: 0 0 130px;
            }
            .locationSelect {
              select {
                font-size: 18px;
                font-size: 1.8rem;
                background-size: 22px;
              }
            }
          }
          .locationResult {
            .result {
              font-size: 18px;
              font-size: 1.8rem;
              margin: 15px auto 0;
              .name,
              .tel,
              .time {
                padding: 8px 10px;
              }
            }
          }
        }
      }
    }
    .eventbottom {
      .eventdetail {
        .detail-title {
          .pic {
            flex: 0 0 120px;
          }
          .text {
            padding: 0 0 25px 30px;
            h1 {
              font-size: 32px;
              font-size: 3.2rem;
            }
            h2 {
              font-size: 18px;
              font-size: 1.8rem;
            }
          }
        }
        .detail-note {
          margin: -15px auto 0;
          padding: 0 0 0 150px;
          .txt {
            font-size: 18px;
            font-size: 1.8rem;
          }
          .note {
            font-size: 16px;
            font-size: 1.6rem;
          }
        }
      }
    }
    .linkBtn {
      padding: 15px 15px 18px;
      font-size: 22px;
      font-size: 2.2rem;
      background: url("../images/btn-bg.jpg") no-repeat top center;
      background-size: 100% 100%;
    }
  }
}
@media screen and (max-width: 767px) {
  .eventSection {
    background: url("../images/eventbg-mb.png") no-repeat top center;
    background-size: 100%;
    padding: 65px 0;
    .title {
      font-size: 30px;
      font-size: 3rem;
      margin: 0 auto 10px;
      span {
        display: block;
        padding: 0;
      }
    }
    .title-text {
      font-size: 16px;
      font-size: 1.6rem;
      margin: 0 auto 30px;
      span {
        display: block;
      }
      br {
        display: none;
      }
    }
    .eventtop {
      padding: 0 0 30px;
      background: url("../images/evbg02-mb.jpg") no-repeat bottom center;
      background-size: 100%;
      .pic {
        .pic-pc {
          display: none;
        }
        .pic-mb {
          display: block;
        }
      }
      .featurebox {
        .feature-title {
          font-size: 23px;
          font-size: 2.3rem;
          margin: 0 auto 10px;
        }
        .feature-subtitle {
          font-size: 16px;
          font-size: 1.6rem;
          margin: 0 auto 10px;
        }
        p {
          font-size: 14px;
          font-size: 1.4rem;
        }
      }
      .eventdetail {
        padding: 0 1rem 0 0;
        .detail-title {
          display: flex;
          align-items: flex-start;
          .pic {
            flex: 0 0 90px;
          }
          .text {
            padding: 0 0 15px 10px;
            h1 {
              font-size: 24px;
              font-size: 2.4rem;
              line-height: 1.2;
              span {
                display: block;
              }
            }
            h2 {
              font-size: 16px;
              font-size: 1.6rem;
              line-height: 1.2;
              margin: 5px 0 0;
              span {
                display: block;
              }
            }
          }
        }
        .detail-content {
          padding: 0 0 0 20px;
          margin: 0 auto 20px;
          .arrow {
            max-width: 10px;
          }
          .step {
            font-size: 14px;
            font-size: 1.4rem;
          }
        }
        .detail-note {
          display: flex;
          flex-wrap: wrap;
          .note-pic {
            flex: 0 0 70%;
            width: 70%;
            margin: 0 auto;
          }
          .note-list {
            font-size: 13px;
            font-size: 1.3rem;
            padding: 0 0 0 26px;
          }
        }
        .locationbox {
          padding: 0 0 0 1.5rem;
          .selectBox {
            .locationLabel {
              font-size: 16px;
              font-size: 1.6rem;
              flex: 0 0 100px;
            }
            .locationSelect {
              select {
                background: url("../images/selectArrow.png") no-repeat right
                  10px center #000;
                background-size: 20px;
                padding: 8px;
                font-size: 16px;
                font-size: 1.6rem;
              }
            }
          }
          .locationResult {
            .note {
              font-size: 12px;
              font-size: 1.2rem;
              margin: 10px 0 0;
            }
            .result {
              font-size: 16px;
              font-size: 1.6rem;
              margin: 15px auto 0;
              .name,
              .tel,
              .time {
                display: flex;
                line-height: 1.5;
                padding: 5px;
                .tit {
                  flex: 0 0 110px;
                  color: $gold;
                }
              }
            }
          }
        }
      }
    }
    .eventbottom {
      .eventdetail {
        margin: 30px auto 0;
        padding: 0 1rem 0 1.5rem;
        .detail-title {
          align-items: flex-start;
          .pic {
            flex: 0 0 90px;
          }
          .text {
            padding: 0 0 15px 10px;
            h1 {
              font-size: 24px;
              font-size: 2.4rem;
              line-height: 1.2;
              span {
                display: block;
              }
            }
            h2 {
              font-size: 16px;
              font-size: 1.6rem;
              margin: 5px 0 0;
              line-height: 1.2;
              span {
                display: block;
              }
            }
          }
        }
        .detail-note {
          margin: 0 auto 0;
          padding: 0 1.5rem;
          .txt {
            font-size: 16px;
            font-size: 1.6rem;
          }
          .note {
            font-size: 12px;
            font-size: 1.2rem;
          }
        }
      }
    }
    .btnwrap {
      max-width: 264px;
      margin: 25px auto 0;
    }
    .linkBtn {
      background: url("../images/btn-bg.jpg") no-repeat top center;
      background-size: 100% 100%;
      padding: 15px;
      font-size: 19px;
      font-size: 1.9rem;
    }
  }
}
@media screen and (max-width: 375px) {
  .eventSection {
    background: url("../images/eventbg-mb.png") no-repeat top center;
    background-size: 100%;
    padding: 65px 0;
    .title {
      font-size: 30px;
      font-size: 3rem;
      margin: 0 auto 10px;
      span {
        display: block;
        padding: 0;
      }
    }
    .title-text {
      font-size: 14px;
      font-size: 1.4rem;
      margin: 0 auto 30px;
      span {
        display: block;
      }
      br {
        display: none;
      }
    }
    .eventtop {
      padding: 0 0 30px;
      background: url("../images/evbg02-mb.jpg") no-repeat bottom center;
      background-size: 100%;
      .pic {
        .pic-pc {
          display: none;
        }
        .pic-mb {
          display: block;
        }
      }
      .featurebox {
        .feature-title {
          font-size: 23px;
          font-size: 2.3rem;
          margin: 0 auto 10px;
        }
        .feature-subtitle {
          font-size: 16px;
          font-size: 1.6rem;
          margin: 0 auto 10px;
        }
        p {
          font-size: 14px;
          font-size: 1.4rem;
        }
      }
      .eventdetail {
        padding: 0 1rem 0 0;
        .detail-title {
          display: flex;
          align-items: flex-start;
          .pic {
            flex: 0 0 90px;
          }
          .text {
            padding: 0 0 15px 10px;
            h1 {
              font-size: 24px;
              font-size: 2.4rem;
              line-height: 1.2;
              span {
                display: block;
              }
            }
            h2 {
              font-size: 16px;
              font-size: 1.6rem;
              line-height: 1.2;
              margin: 5px 0 0;
              span {
                display: block;
              }
            }
          }
        }
        .detail-content {
          padding: 0 0 0 15px;
          margin: 0 auto 20px;
          .arrow {
            max-width: 7px;
          }
          .step {
            font-size: 13px;
            font-size: 1.3rem;
          }
        }
        .detail-note {
          display: flex;
          flex-wrap: wrap;
          .note-pic {
            flex: 0 0 70%;
            width: 70%;
            margin: 0 auto;
          }
          .note-list {
            font-size: 13px;
            font-size: 1.3rem;
            padding: 0 0 0 26px;
          }
        }
        .locationbox {
          padding: 0 0 0 1.5rem;
          .selectBox {
            .locationLabel {
              font-size: 16px;
              font-size: 1.6rem;
              flex: 0 0 100px;
            }
            .locationSelect {
              select {
                background: url("../images/selectArrow.png") no-repeat right
                  10px center #000;
                background-size: 20px;
                padding: 8px;
                font-size: 16px;
                font-size: 1.6rem;
              }
            }
          }
          .locationResult {
            .note {
              font-size: 12px;
              font-size: 1.2rem;
              margin: 10px 0 0;
            }
            .result {
              font-size: 16px;
              font-size: 1.6rem;
              margin: 15px auto 0;
              .name,
              .tel,
              .time {
                display: flex;
                line-height: 1.5;
                padding: 5px;
                .tit {
                  flex: 0 0 110px;
                  color: $gold;
                }
              }
            }
          }
        }
      }
    }
    .eventbottom {
      .eventdetail {
        margin: 30px auto 0;
        padding: 0 1rem 0 1.5rem;
        .detail-title {
          align-items: flex-start;
          .pic {
            flex: 0 0 90px;
          }
          .text {
            padding: 0 0 15px 10px;
            h1 {
              font-size: 24px;
              font-size: 2.4rem;
              line-height: 1.2;
              span {
                display: block;
              }
            }
            h2 {
              font-size: 16px;
              font-size: 1.6rem;
              margin: 5px 0 0;
              line-height: 1.2;
              span {
                display: block;
              }
            }
          }
        }
        .detail-note {
          margin: 0 auto 0;
          padding: 0 1.5rem;
          .txt {
            font-size: 16px;
            font-size: 1.6rem;
          }
          .note {
            font-size: 12px;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
