#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9000000;
}
#loading .load-center {
  position: absolute;
  top: 40.5%;
  left: 50%;
  margin-left: -56px;
  margin-top: -93px;
  width: 113px;
  height: 186px;

  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 30px;
  width: 25%;
  height: 140px;
  .line {
    position: absolute;
    top: 50%;
    margin-left: 10px;
    width: 60px;
    height: 4px;
    background: #cb1b45;
    animation: spin 1.5s infinite ease;

    &:nth-of-type(2) {
      animation-delay: 0.15s;
    }
    &:nth-of-type(3) {
      animation-delay: 0.25s;
    }
    &:nth-of-type(4) {
      animation-delay: 0.35s;
    }
  }
}
#loading .load-line {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: 20px;
  width: 0%;
  height: 1px;
  background-color: #cb1b45;
  -webkit-transition: all 1s 0.5s ease;
  -o-transition: all 1s 0.5s ease;
  transition: all 1s 0.5s ease;
}

@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1366px) {
}
// mobile layout
@media screen and (max-width: 750px) {
  #loading .load-center {
    left: 48%;
  }
}
// iphone XS Max, Plus
@media screen and (max-width: 414px) {
}
// iphone XS, iphone X
@media screen and (max-width: 375px) {
}
