.pageWrap {
    .productSecArrow {
        max-width: 120px;
        margin: 0 auto;
        a {
            display: block;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                left: 0; top: 0; right: 0; bottom: 0;
                z-index: 1;
                animation-duration: .2s;
                animation-name: gsbgani;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                background: url("../images/productArrow02.png") no-repeat center;
                background-size: 100%;
            }
        }
    }
}
.shine-font {
    background: -webkit-linear-gradient(left, #dbc089 0%, #fff 24%, #dbc089 36%, #fff 46%, #dbc089 52%, #fff 58%, #fff 67%, #dbc089 100%);
    background-size: 100%;
    transition: 1s;
    background-size: 300%;
    animation: font-shine 10s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
.shine-font02 {
    background: -webkit-linear-gradient(left, #72533c 0%, #72533c 24%, #dbc089 36%, #72533c 46%, #72533c 52%, #72533c 58%, #72533c 67%, #72533c 100%);
    background-size: 100%;
    transition: 1s;
    background-size: 300%;
    animation: font-shine 10s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
// mobile layout
@media screen and (max-width: 767px) {
    .pageWrap {
        .productSecArrow {
            max-width: 80px;
        }
    }
}

.productEyeSection {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 0 120px;
    .titleWrap {
        position: relative;
        background: url("../images/eyebg01-pc.png") no-repeat center;
        background-size: 100%;
        animation-duration: .8s;
        animation-name: eyebg-pc;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        .title {
            position: absolute;
            left: 61.4%; top: 51.5%;
            .new {
                font-size: 34px;
                font-size: $px34;
                border-top: 1px solid $gold;
                border-bottom: 1px solid $gold;
                padding: 0 5px;
            }
            h1 {
                margin: 15px 0 0;
                font-size: 50px;
                font-size: $px50;
                font-family: "Noto Serif TC";
                line-height: 1.3;
            }
            .price {
                font-size: 32px;
                font-size: $px32;
                font-family: "Noto Sans TC";
                line-height: 1.5;
                margin: -5px 0 0;
                span {
                    font-size: 50px;
                    font-size: $px50;
                } 
            }
        }
        .pic-pc {
            display: block;
        }
        .pic-mb {
            display: none;
        }
    }
    .detailWrap {
        max-width: 850px;
        margin: 0 auto;
        .detail {
            position: relative;
            cursor: pointer;
            margin: 0 0 40px;
            .detail-title {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin: 0 auto 20px;
                .num {
                    flex: 0 0 45px;
                }
                .txt {
                    width: 100%;
                    color: #e6d3ac;
                    font-size: 40px;
                    font-size: $px40;
                    padding-left: 10px;
                    font-family: "Noto Serif TC";
                    letter-spacing: .1em;
                }
                .icon {
                    flex: 0 0 50px;
                    background: url("../images/iconPlus.png") no-repeat bottom center;
                    background-size: 100%;
                    transition: all .3s;
                }
            }
            .detail-box {
                display: none;               
                padding: 0 0 0 70px;
                color: #fff;
                font-size: 22px;
                font-size: $px22;
                font-family: "Noto Sans TC";
                line-height: 1.5;
                letter-spacing: .05em;
            }
            &.on {
                .detail-title {
                    .icon {
                        background: url("../images/iconMinus.png") no-repeat bottom center;
                        background-size: 100%;
                        transition: all .3s;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1600px) {
    .productEyeSection {
        .titleWrap {
            .title {
                .new {
                    font-size: 28px;
                    font-size: $px28;
                }
                h1 {
                    margin: 10px 0 0;
                    font-size: 42px;
                    font-size: $px42;
                }
                .price {
                    font-size: 26px;
                    font-size: $px26;
                    margin: -5px 0 0;
                    span {
                        font-size: 44px;
                        font-size: $px44;
                    } 
                }
            }
        }
        .detailWrap {
            .detail {
                margin: 0 0 40px;
                .detail-title {
                    margin: 0 auto 20px;
                    .num {
                        flex: 0 0 48px;
                    }
                    .txt {
                        padding: 0 0 0 5px;
                        font-size: 34px;
                        font-size: $px34;
                    }
                    .icon {
                        flex: 0 0 50px;
                    }
                }
                .detail-box {
                    padding: 0 0 0 61px;
                    font-size: 18px;
                    font-size: $px18;
                }
            }
        }
    }
}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1000px) {
    .productEyeSection {
        .titleWrap {
            .title {
                left: 60%; top: 50%;
                .new {
                    font-size: 26px;
                    font-size: $px26;
                }
                h1 {
                    margin: 10px 0 0;
                    font-size: 34px;
                    font-size: $px34;
                }
                .price {
                    font-size: 24px;
                    font-size: $px24;
                    margin: -5px 0 0;
                    span {
                        font-size: 42px;
                        font-size: $px42;
                    } 
                }
            }
        }
        .detailWrap {
            padding: 0 5.3%;
            .detail {
                margin: 0 0 40px;
                .detail-title {
                    margin: 0 auto 20px;
                    .num {
                        flex: 0 0 42px;
                    }
                    .txt {
                        padding: 0 0 0 5px;
                        font-size: 30px;
                        font-size: $px30;
                    }
                    .icon {
                        flex: 0 0 50px;
                    }
                }
                .detail-box {
                    padding: 0 0 0 55px;
                    font-size: 16px;
                    font-size: $px16;
                }
            }
        }
    }
}
// mobile layout
@media screen and (max-width: 767px) {
    .productEyeSection {
        padding: 0 0 60px;
        .titleWrap {
            background: url("../images/eyebg01-mb.png") no-repeat center;
            background-size: 100%;
            animation-duration: .8s;
            animation-name: eyebg-mb;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            .title {
                position: absolute;
                left: 0; top: 0; right: 0;
                text-align: center;
                .new {
                    font-size: 20px;
                    font-size: $px20;
                    padding: 0 5px;
                }
                h1 {
                    margin: 10px 0 0;
                    font-size: 30px;
                    font-size: $px30;
                }
                .price {
                    font-size: 18px;
                    font-size: $px18;
                    margin: -5px 0 0;
                    span {
                        font-size: 32px;
                        font-size: $px32;
                    } 
                }
            }
            .pic-pc {
                display: none;
            }
            .pic-mb {
                display: block;
            }
        }
        .detailWrap {
            padding: 0 1.5rem;
            .detail {
                margin: 0 0 25px;
                .detail-title {
                    .num {
                        flex: 0 0 35px;
                    }
                    .txt {
                        font-size: 24px;
                        font-size: $px24;
                    }
                    .icon {
                        flex: 0 0 35px;
                    }
                }
                .detail-box {
                    padding: 0 0 0 50px;
                    font-size: 14px;
                    font-size: $px14;
                }
            }
        }
    }
}
// iphone XS Max, Plus
@media screen and (max-width: 414px) {
    
}
// iphone XS, iphone X
@media screen and (max-width: 375px) {
    
}
// iphone XS, iphone X
@media screen and (max-width: 375px) {
    .productEyeSection {
        padding: 0 0 60px;
        .titleWrap {
            background: url("../images/eyebg01-mb.png") no-repeat center;
            background-size: 100%;
            animation-duration: .8s;
            animation-name: eyebg-mb;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            .title {
                position: absolute;
                left: 0; top: 0; right: 0;
                text-align: center;
                .new {
                    font-size: 20px;
                    font-size: $px20;
                    padding: 0 5px;
                }
                h1 {
                    margin: 10px 0 0;
                    font-size: 28px;
                    font-size: $px28;
                }
                .price {
                    font-size: 18px;
                    font-size: $px18;
                    margin: -5px 0 0;
                    span {
                        font-size: 32px;
                        font-size: $px32;
                    } 
                }
            }
            .pic-pc {
                display: none;
            }
            .pic-mb {
                display: block;
            }
        }
        .detailWrap {
            padding: 0 1.5rem;
            .detail {
                margin: 0 0 25px;
                .detail-title {
                    .num {
                        flex: 0 0 35px;
                    }
                    .txt {
                        font-size: 20px;
                        font-size: $px20;
                    }
                    .icon {
                        flex: 0 0 35px;
                    }
                }
                .detail-box {
                    padding: 0 0 0 40px;
                    font-size: 14px;
                    font-size: $px14;
                }
            }
        }
    }
}

.productAllSection {
    position: relative;
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 0 100px;
    overflow: hidden;
    .title {
        text-align: center;
        font-family: "Noto Serif TC";
        letter-spacing: .1em;
        h1 {
            font-size: 50px;
            font-size: $px50;
            display: inline;
        }
        h2 {
            font-size: 36px;
            font-size: $px36;
            margin: 15px 0 0;
            padding-left: 10px;
            display: inline;
            span {
                font-size: 55px;
                font-size: $px55;
                font-weight: 600;
            }
        }
    }
    .productAll-content {
        .productbox {
            .pic {
                background: none;
                transition: all .3s;
            }
            .txtWrap {
                color: #fff;
                text-align: center;
                .label {
                    font-size: 40px;
                    font-size: $px40;
                    color: $gold;
                    font-family: "Noto Serif TC";
                    margin: 0 0 40px;
                }
                .detail {
                    opacity: 0;
                    .nameWrap {
                        
                        .name {
                            font-size: 28px;
                            font-size: $px28;
                            letter-spacing: .05em;
                            line-height: 1.35;
                        }
                        .price {
                            font-size: 20px;
                            font-size: $px20;
                            margin: 5px 0 15px;
                            span {
                                font-size: 40px;
                                font-size: $px40;
                                color: $gold;
                            }
                        }
                    }
                    .line {
                        margin: -30px auto -20px;
                        animation-duration: .2s;
                        animation-name: lineani;
                        animation-iteration-count: infinite;
                        animation-direction: alternate;
                    }
                    .feature {
                        font-size: 34px;
                        font-size: $px34;
                        line-height: 1.3;
                        margin: 0 0 20px;
                        span {
                            color: $gold;
                        }
                    }
                    .point {
                        display: flex;
                        justify-content: center;
                        margin: 0 0 20px;
                        .pointpic {
                            flex: 0 0 140px;
                        }
                        ul {
                            text-align: left;
                            padding: 0 0 0 10px;
                            list-style: none;
                            line-height: 1.3;
                            li {
                                font-size: 26px;
                                font-size: $px26;
                                font-weight: 300;
                                letter-spacing: .1em;
                                span {
                                    color: $gold;
                                    padding: 0 5px 0 0;
                                }
                            }
                        }
                    }
                    .percentWrap {
                        display: flex;
                        justify-content: center;
                        .item {
                            margin: 0 6px;
                            .progress {
                                width: 100vw;
                                height: 100vw;
                                max-width: 100px;
                                max-height: 100px;
                                font-size: 34px;
                                font-size: $px34;
                                background: url("../images/circle.png") no-repeat center;
                                background-size: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .pct {
                                    font-size: 20px;
                                    font-size: $px20;
                                }
                            } 
                            .p-txt {
                                margin: 15px 0 0;
                                font-size: 22px;
                                font-size: $px22;
                            }
                        }
                    }
                }
            }
        }
        .product01 {
            &.swiper-slide-active {
                .pic {
                    background: url("../images/product01-on.png") no-repeat bottom center;
                    background-size: 100%;
                    transition: all .3s;
                }
                .txtWrap {
                    .detail {
                        opacity: 1;
                    }
                }
            }
        }
        .product02 {
            &.swiper-slide-active {
                .pic {
                    background: url("../images/product02-on.png") no-repeat bottom center;
                    background-size: 100%;
                    transition: all .3s;
                }
                .txtWrap {
                    .detail {
                        opacity: 1;
                    }
                }
            }
        }
        .product03 {
            &.swiper-slide-active {
                .pic {
                    background: url("../images/product03-on.png") no-repeat bottom center;
                    background-size: 100%;
                    transition: all .3s;
                }
                .txtWrap {
                    .detail {
                        opacity: 1;
                    }
                }
            }
        }
        .swiper-button-next,.swiper-button-prev {
            position: absolute;
            top: 40%;
            width: 49px;
            height: 100px;
            margin-top: -50px;
            z-index: 10;
            cursor: pointer;
            background-size: 49px 100px;
            background-position: center;
            background-repeat: no-repeat
        }
        .swiper-button-prev,.swiper-container-rtl .swiper-button-next {
            background-image: url("../images/leftArrow.png");
            left: 0;
            right: auto
        }
        .swiper-button-next,.swiper-container-rtl .swiper-button-prev {
            background-image: url("../images/rightArrow.png");
            right: 0;
            left: auto
        }
    }
    .btnwrap {
        max-width: 325px;
        margin: 36px auto 0;
        position: relative;
    }
    .openModalBtn {
        display: block;
        padding: 16px 15px 20px;
        font-size: 26px;
        font-size: $px26;
        line-height: 1.2;
        color: #fff;
        text-decoration: none;
        overflow: hidden;
        transition: .5s;
        position: relative;
        background: url("../images/btn-bg.jpg") no-repeat top center;
        background-size: 100% 100%;
        text-align: center;
        .icon {
            width: 45px;
            display: inline-block;
            vertical-align: middle;
        }
        .txt {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
            padding-left: 10px;
        }
        &:before {
            content:"";
            background: url("../images/shine_light.png");
            background-position: center;
            background-size: cover;
            position: absolute;
            width: 200%;
            height: 200%;
            margin-top: -30%;
            display: block;
            pointer-events: none;
            animation: btn-shine 4s ease 1s infinite;
        }
        &:hover {
            color: $gold;
        }
    }
}
@media screen and (max-width: 1600px) {
    .productAllSection {
        .title {
            h1 {
                font-size: 42px;
                font-size: $px42;
            }
            h2 {
                font-size: 30px;
                font-size: $px30;
                margin: 10px 0 0;
                span {
                    font-size: 46px;
                    font-size: $px46;
                }
            }
        }
        .productAll-content {
            .productbox {
                .txtWrap {
                    .label {
                        font-size: 36px;
                        font-size: $px36;
                        margin: 0 0 25px;
                    }
                    .detail {
                        opacity: 0;
                        .nameWrap {
                            .name {
                                font-size: 24px;
                                font-size: $px24;
                            }
                            .price {
                                font-size: 16px;
                                font-size: $px16;
                                margin: 5px 0 15px;
                                span {
                                    font-size: 34px;
                                    font-size: $px34;
                                }
                            }
                        }
                        .feature {
                            font-size: 28px;
                            font-size: $px28;
                            margin: 0 0 20px;
                        }
                        .point {
                            margin: 0 0 20px;
                            .pointpic {
                                flex: 0 0 120px;
                            }
                            ul {
                                padding: 0 0 0 10px;
                                li {
                                    font-size: 22px;
                                    font-size: $px22;
                                }
                            }
                        }
                        .percentWrap {
                            .item {
                                .progress {
                                    max-width: 85px;
                                    max-height: 85px;
                                    font-size: 28px;
                                    font-size: $px28;
                                    .pct {
                                        font-size: 16px;
                                        font-size: $px16;
                                    }
                                } 
                                .p-txt {
                                    margin: 10px 0 0;
                                    font-size: 18px;
                                    font-size: $px18;
                                }
                            }
                        }
                    }
                }
            }
        }
        .openModalBtn {
            padding: 15px 15px 18px;
            font-size: 22px;
            font-size: $px22;
            background: url("../images/btn-bg.jpg") no-repeat top center;
            background-size: 100% 100%;
            text-align: center;
            .icon {
                width: 45px;
                display: inline-block;
                vertical-align: middle;
            }
            .txt {
                display: inline-block;
                text-align: left;
                vertical-align: middle;
            }
        }
    }
}
@media screen and (max-width: 1380px) {
    .productAllSection { 
        .productAll-content {
            .swiper-button-prev,.swiper-container-rtl .swiper-button-next {
                left: 30px;
            }
            .swiper-button-next,.swiper-container-rtl .swiper-button-prev {
                right: 30px;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .productAllSection {
        .title {
            h1 {
                font-size: 34px;
                font-size: $px34;
            }
            h2 {
                font-size: 24px;
                font-size: $px24;
                margin: 10px 0 0;
                span {
                    font-size: 40px;
                    font-size: $px40;
                }
            }
        }
        .productAll-content {
            .productbox {
                .txtWrap {
                    .label {
                        font-size: 32px;
                        font-size: $px32;
                        margin: 0 0 20px;
                    }
                    .detail {
                        opacity: 0;
                        .nameWrap {
                            .name {
                                font-size: 20px;
                                font-size: $px20;
                            }
                            .price {
                                font-size: 16px;
                                font-size: $px16;
                                margin: 5px 0 15px;
                                span {
                                    font-size: 30px;
                                    font-size: $px30;
                                }
                            }
                        }
                        .feature {
                            font-size: 24px;
                            font-size: $px24;
                            margin: 0 0 15px;
                        }
                        .point {
                            margin: 0 0 20px;
                            .pointpic {
                                flex: 0 0 120px;
                            }
                            ul {
                                padding: 0 0 0 10px;
                                li {
                                    font-size: 18px;
                                    font-size: $px18;
                                }
                            }
                        }
                        .percentWrap {
                            .item {
                                .progress {
                                    max-width: 85px;
                                    max-height: 85px;
                                    font-size: 28px;
                                    font-size: $px28;
                                    .pct {
                                        font-size: 16px;
                                        font-size: $px16;
                                    }
                                }
                                .p-txt {
                                    margin: 10px 0 0;
                                    font-size: 16px;
                                    font-size: $px16;
                                }
                            }
                        }
                    }
                }
            }
            .swiper-button-prev,.swiper-container-rtl .swiper-button-next {
                left: 4%;
            }
            .swiper-button-next,.swiper-container-rtl .swiper-button-prev {
                right: 4%;
            }
        }
        .openModalBtn {
            padding: 15px 15px 18px;
            font-size: 22px;
            font-size: $px22;
            background: url("../images/btn-bg.jpg") no-repeat top center;
            background-size: 100% 100%;
        }
    }
}
// mobile layout
@media screen and (max-width: 767px) {
    .productAllSection {
        padding: 0 0 50px;
        .title {
            h1 {
                font-size: 30px;
                font-size: $px30;
                display: block;
            }
            h2 {
                font-size: 23px;
                font-size: $px23;
                margin: 10px 0 0;
                padding-left: 0;
                display: block;
                span {
                    font-size: 32px;
                    font-size: $px32;
                }
            }
        }
        .productAll-content {
            width: 90%;
            margin: 0 auto;
            .productbox {
                .pic {
                    width: 90%;
                    margin: 0 auto;
                }
                .txtWrap {
                    margin: -25px auto 0;
                    .label {
                        font-size: 28px;
                        font-size: $px28;
                        margin: 0 0 15px;
                    }
                    .detail {
                        opacity: 0;
                        .nameWrap {
                            .name {
                                font-size: 20px;
                                font-size: $px20;
                            }
                            .price {
                                font-size: 14px;
                                font-size: $px14;
                                margin: 5px 0 10px;
                                span {
                                    font-size: 30px;
                                    font-size: $px30;
                                }
                            }
                        }
                        .line {
                            margin: -20px auto -20px;
                        }
                        .feature {
                            font-size: 23px;
                            font-size: $px23;
                            margin: 0 0 20px;
                        }
                        .point {
                            .pointpic {
                                flex: 0 0 90px;
                            }
                            ul {
                                li {
                                    font-size: 18px;
                                    font-size: $px18;
                                }
                            }
                        }
                        .percentWrap {
                            .item {
                                margin: 0 5px;
                                .progress {
                                    max-width: 80px;
                                    max-height: 80px;
                                    font-size: 23px;
                                    font-size: $px23;
                                    .pct {
                                        font-size: 14px;
                                        font-size: $px14;
                                    }
                                } 
                                .p-txt {
                                    margin: 10px 0 0;
                                    font-size: 15px;
                                    font-size: $px15;
                                }
                            }
                        }
                    }
                }
            }
            .swiper-button-next,.swiper-button-prev {
                position: absolute;
                top: 42%;
                width: 26px;
                height: 55px;
                margin-top: -25px;
                z-index: 10;
                cursor: pointer;
                background-size: 26px 55px;
                background-position: center;
                background-repeat: no-repeat
            }
            .swiper-button-prev,.swiper-container-rtl .swiper-button-next {
                background-image: url("../images/leftArrow.png");
                left: 1.5rem;
                right: auto
            }
            .swiper-button-next,.swiper-container-rtl .swiper-button-prev {
                background-image: url("../images/rightArrow.png");
                right: 1.5rem;
                left: auto
            }
        }
        .btnwrap {
            max-width: 264px;
            margin: 25px auto 0;
        }
        .openModalBtn {
            background: url("../images/btn-bg.jpg") no-repeat top center;
            background-size: 100% 100%;
            padding: 15px;
            font-size: 19px;
            font-size: $px19;
        }
    }
}
// iphone XS Max, Plus
@media screen and (max-width: 414px) {
    
}
// iphone XS, iphone X
@media screen and (max-width: 375px) {
    
}