@charset "UTF-8";
/* Variables */
/* Modules */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400&display=swap&subset=chinese-traditional");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,500,600&display=swap");
@-webkit-keyframes img_shine {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes img_shine {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes font-shine {
  0% {
    background-position: 0% 0; }
  to {
    background-position: -300% 0; } }

@keyframes font-shine {
  0% {
    background-position: 0% 0; }
  to {
    background-position: -300% 0; } }

@-webkit-keyframes flare_shine {
  0% {
    opacity: 0.8; }
  to {
    opacity: 1; } }

@keyframes flare_shine {
  0% {
    opacity: 0.8; }
  to {
    opacity: 1; } }

@-webkit-keyframes loading {
  0% {
    background: url("../images/loading.png") no-repeat center;
    background-size: 100%; }
  50% {
    background: url("../images/loading-lt.png") no-repeat center;
    background-size: 100%; }
  100% {
    background: url("../images/loading.png") no-repeat center;
    background-size: 100%; } }

@keyframes loading {
  0% {
    background: url("../images/loading.png") no-repeat center;
    background-size: 100%; }
  50% {
    background: url("../images/loading-lt.png") no-repeat center;
    background-size: 100%; }
  100% {
    background: url("../images/loading.png") no-repeat center;
    background-size: 100%; } }

@-webkit-keyframes kvbg-pc {
  0% {
    background: url("../images/kv-cut1.jpg") no-repeat center;
    background-size: 100%; }
  100% {
    background: url("../images/kv-cut2.jpg") no-repeat center;
    background-size: 100%; } }

@keyframes kvbg-pc {
  0% {
    background: url("../images/kv-cut1.jpg") no-repeat center;
    background-size: 100%; }
  100% {
    background: url("../images/kv-cut2.jpg") no-repeat center;
    background-size: 100%; } }

@-webkit-keyframes gsbgani {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes gsbgani {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes eyebg-pc {
  0% {
    background: url("../images/eyebg01-pc.png") no-repeat center;
    background-size: 100%; }
  100% {
    background: url("../images/eyebg02-pc.png") no-repeat center;
    background-size: 100%; } }

@keyframes eyebg-pc {
  0% {
    background: url("../images/eyebg01-pc.png") no-repeat center;
    background-size: 100%; }
  100% {
    background: url("../images/eyebg02-pc.png") no-repeat center;
    background-size: 100%; } }

@-webkit-keyframes eyebg-mb {
  0% {
    background: url("../images/eyebg01-mb.png") no-repeat center;
    background-size: 100%; }
  100% {
    background: url("../images/eyebg02-mb.png") no-repeat center;
    background-size: 100%; } }

@keyframes eyebg-mb {
  0% {
    background: url("../images/eyebg01-mb.png") no-repeat center;
    background-size: 100%; }
  100% {
    background: url("../images/eyebg02-mb.png") no-repeat center;
    background-size: 100%; } }

@-webkit-keyframes lineani {
  0% {
    opacity: .8; }
  100% {
    opacity: 1; } }

@keyframes lineani {
  0% {
    opacity: .8; }
  100% {
    opacity: 1; } }

@-webkit-keyframes btn-shine {
  0% {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%); }
  70% {
    -webkit-transform: translateX(120%);
    transform: translateX(120%); }
  100% {
    -webkit-transform: translateX(120%);
    transform: translateX(120%); } }

@keyframes btn-shine {
  0% {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%); }
  70% {
    -webkit-transform: translateX(120%);
    transform: translateX(120%); }
  100% {
    -webkit-transform: translateX(120%);
    transform: translateX(120%); } }

@font-face {}.video-container {
  position: relative;
  padding-bottom: 54.25%;
  padding-top: 25px;
  height: 0;
  overflow: hidden; }
  .video-container > iframe, .video-container > object, .video-container > embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0; }

html {
  position: relative; }

body {
  font-family: "Noto Sans TC", "Source Sans Pro", "Microsoft JhengHei", "微軟正黑體", sans-serif;
  font-family: "微軟正黑體" \0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  overflow-x: hidden;
  background: #f9f2e8; }

body.fixed {
  height: 100%;
  overflow: hidden; }

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

nav ul {
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input,
select,
button,
textarea {
  vertical-align: middle;
  outline: 0; }

img {
  vertical-align: top;
  max-width: 100%; }

.clear {
  clear: both;
  width: 0;
  height: 0px;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden; }

.fb-page,
.fb-page span,
.fb-page span iframe[style] {
  width: 100% !important; }

.ie8-wrap {
  display: none; }

button {
  cursor: pointer; }

/*通用全站都有的寫法*/
*:link,
*:visited,
*:hover,
*:active,
*:focus {
  -webkit-transition: color 0.25s linear, background-color 0.25s linear, border-color 0.25s linear, padding 0.15s linear, opacity 0.15s linear, -webkit-filter 0.15s linear, -webkit-transform 0.25s linear;
  transition: color 0.25s linear, background-color 0.25s linear, border-color 0.25s linear, padding 0.15s linear, opacity 0.15s linear, -webkit-filter 0.15s linear, -webkit-transform 0.25s linear;
  -o-transition: color 0.25s linear, background-color 0.25s linear, border-color 0.25s linear, padding 0.15s linear, filter 0.15s linear, opacity 0.15s linear, transform 0.25s linear;
  transition: color 0.25s linear, background-color 0.25s linear, border-color 0.25s linear, padding 0.15s linear, filter 0.15s linear, opacity 0.15s linear, transform 0.25s linear;
  transition: color 0.25s linear, background-color 0.25s linear, border-color 0.25s linear, padding 0.15s linear, filter 0.15s linear, opacity 0.15s linear, transform 0.25s linear, -webkit-filter 0.15s linear, -webkit-transform 0.25s linear; }

.shine-font {
  background: -webkit-linear-gradient(left, #8c2b1f 0%, #341210 24%, #8c2b1f 36%, #341210 46%, #8c2b1f 52%, #341210 58%, #341210 67%, #8c2b1f 100%);
  background-size: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background-size: 300%;
  -webkit-animation: font-shine 10s infinite;
  animation: font-shine 10s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.shine-font2 {
  background: -webkit-linear-gradient(left, #fff5f3 0%, #fee4dc 24%, #fff5f3 36%, #fee4dc 46%, #fff5f3 52%, #fee4dc 58%, #fee4dc 67%, #fff5f3 100%);
  background-size: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background-size: 300%;
  -webkit-animation: font-shine 10s infinite;
  animation: font-shine 10s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

/* Theme */
.time-wrapper .time-kv .time-header .kvtop .kv-logo {
  position: absolute;
  top: 55px;
  left: 55px;
  z-index: 1;
  width: 11%;
  max-width: 100px;
  opacity: 1; }
  .time-wrapper .time-kv .time-header .kvtop .kv-logo:hover {
    opacity: 0.8; }
  .time-wrapper .time-kv .time-header .kvtop .kv-logo .pc {
    display: block; }
  .time-wrapper .time-kv .time-header .kvtop .kv-logo .logo-mb {
    display: none; }

.time-wrapper .time-kv .time-header .kvtop .kv-nav {
  position: absolute;
  top: 60px;
  right: 55px;
  z-index: 2;
  width: 50px;
  height: 50px; }
  .time-wrapper .time-kv .time-header .kvtop .kv-nav .inner {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%; }

.time-wrapper .time-kv .time-header .kvtop .kv-contact {
  position: absolute;
  top: 60px;
  right: 140px;
  z-index: 1; }
  .time-wrapper .time-kv .time-header .kvtop .kv-contact a {
    max-width: 24px;
    display: block;
    font-size: 3.8rem;
    color: #fff; }
    .time-wrapper .time-kv .time-header .kvtop .kv-contact a:hover {
      opacity: 0.8; }

.time-wrapper .time-kv .time-header .kvtop.on {
  opacity: 1;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s; }

.navigation_trigger {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  background-color: transparent;
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 1030;
  -webkit-transition: all 0.2s cubic-bezier(0.18, 0.72, 0.61, 1.15);
  -o-transition: all 0.2s cubic-bezier(0.18, 0.72, 0.61, 1.15);
  transition: all 0.2s cubic-bezier(0.18, 0.72, 0.61, 1.15);
  cursor: pointer; }

.navigation_trigger .line1,
.navigation_trigger .line2,
.navigation_trigger .line3 {
  position: absolute;
  width: 48px;
  height: 3px;
  background-color: #341210;
  left: 0px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top; }

.navigation_trigger .line1 {
  top: 1px; }

.navigation_trigger .line2 {
  top: 20px; }

.navigation_trigger .line3 {
  top: 37px; }

.navigation_trigger:hover .line1 {
  width: 25px;
  -webkit-transform: translate(0, 20px) rotate(-45deg);
  -ms-transform: translate(0, 20px) rotate(-45deg);
  transform: translate(0, 20px) rotate(-45deg); }

.navigation_trigger:hover .line3 {
  width: 25px;
  -webkit-transform: translate(1px, -18px) rotate(45deg);
  -ms-transform: translate(1px, -18px) rotate(45deg);
  transform: translate(1px, -18px) rotate(45deg); }

.navigation_trigger.nav_in {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

.menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: auto; }

.menu.nav_in {
  height: 100%; }

.contents_nav {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0; }

.contents_nav.nav_in {
  z-index: 1000; }

.contents_nav.nav_in .nav_list {
  opacity: 1; }

.contents_nav .nav_close {
  position: absolute;
  top: 60px;
  right: 55px;
  width: 50px;
  height: 50px;
  z-index: 60;
  cursor: pointer;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.2s cubic-bezier(0.18, 0.72, 0.61, 1.15);
  -o-transition: all 0.2s cubic-bezier(0.18, 0.72, 0.61, 1.15);
  transition: all 0.2s cubic-bezier(0.18, 0.72, 0.61, 1.15); }

.contents_nav .nav_close .line1,
.contents_nav .nav_close .line2 {
  position: absolute;
  width: 48px;
  height: 3px;
  background-color: #dbc089;
  left: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.contents_nav .nav_close .line1 {
  top: 20px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.contents_nav .nav_close .line2 {
  top: 20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.contents_nav .nav_close:hover .line1,
.contents_nav .nav_close:hover .line2 {
  background-color: #fff; }

.contents_nav .nav_close.nav_in {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.contents_nav .nav_close.nav_in_end:hover {
  -webkit-transform: rotate(90deg) scale(1.2);
  -ms-transform: rotate(90deg) scale(1.2);
  transform: rotate(90deg) scale(1.2); }

.contents_nav .nav_list {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.contents_nav .nav_list.nav_in {
  opacity: 1;
  margin: 10% auto 0; }

.contents_nav .nav_list .item {
  width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .contents_nav .nav_list .item a {
    color: #dbc089;
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    font-size: 4rem;
    font-family: 'Noto Serif TC';
    display: block;
    letter-spacing: 0.1rem;
    width: 100%;
    max-width: 320px;
    margin: 0 auto 10px;
    padding: 0 0 60px;
    background: url("../images/navbg.png") no-repeat bottom center;
    background-size: 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .contents_nav .nav_list .item a:hover {
    color: #fff;
    background: url("../images/navbg-hover.png") no-repeat bottom center;
    background-size: 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .contents_nav .nav_list .item.privacyLink a {
    font-size: 26px;
    font-size: 2.6rem; }

.nav_cover {
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 0;
  left: 0;
  top: -50%;
  z-index: -1;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }

.nav_cover.nav_in {
  height: 200%;
  opacity: 0.8;
  z-index: 50; }

.navigation_off .contents_nav,
.navigation_off .nav_cover {
  display: none; }

@media screen and (max-width: 1600px) {
  .kvSection .kv .kvtop .kv-nav {
    width: 40px;
    height: 40px; }
  .kvSection .kv .kvtop .kv-contact a {
    max-width: 20px;
    font-size: 3.2rem; }
  .navigation_trigger {
    width: 40px;
    height: 40px; }
  .navigation_trigger .line1,
  .navigation_trigger .line2,
  .navigation_trigger .line3 {
    width: 40px;
    height: 2px; }
  .navigation_trigger .line1 {
    top: 1px; }
  .navigation_trigger .line2 {
    top: 16px; }
  .navigation_trigger .line3 {
    top: 30px; }
  .navigation_trigger:hover .line1 {
    width: 22px;
    -webkit-transform: translate(0, 16px) rotate(-45deg);
    -ms-transform: translate(0, 16px) rotate(-45deg);
    transform: translate(0, 16px) rotate(-45deg); }
  .navigation_trigger:hover .line3 {
    width: 22px;
    -webkit-transform: translate(1px, -14px) rotate(45deg);
    -ms-transform: translate(1px, -14px) rotate(45deg);
    transform: translate(1px, -14px) rotate(45deg); }
  .contents_nav .nav_close {
    width: 40px;
    height: 40px; }
  .contents_nav .nav_close .line1,
  .contents_nav .nav_close .line2 {
    width: 40px;
    height: 2px; }
  .contents_nav .nav_list .item a {
    font-size: 36px;
    font-size: 3.6rem;
    margin: 0 auto 10px;
    padding: 0 0 50px; } }

@media screen and (max-width: 1440px) {
  .kvSection .kv .kvtop .kv-logo {
    top: 45px;
    left: 45px; }
  .kvSection .kv .kvtop .kv-nav {
    top: 50px;
    right: 45px; }
  .kvSection .kv .kvtop .kv-contact {
    top: 50px;
    right: 130px; }
  .contents_nav .nav_close {
    top: 50px;
    right: 45px; }
  .contents_nav .nav_list.nav_in {
    margin: 15% auto 0; }
  .contents_nav .nav_list .item a {
    margin: 0 auto 10px;
    padding: 0 0 60px; } }

@media screen and (max-width: 1280px) {
  .kvSection .kv .kvtop .kv-logo {
    top: 35px;
    left: 35px; }
  .kvSection .kv .kvtop .kv-nav {
    top: 40px;
    right: 35px; }
  .kvSection .kv .kvtop .kv-contact {
    top: 40px;
    right: 110px; }
  .contents_nav .nav_close {
    top: 40px;
    right: 35px; } }

@media screen and (max-width: 1000px) {
  .kvSection .kv .kvtop .kv-logo {
    top: 25px;
    left: 25px; }
  .kvSection .kv .kvtop .kv-nav {
    top: 30px;
    right: 25px; }
  .kvSection .kv .kvtop .kv-contact {
    top: 30px;
    right: 100px; }
  .contents_nav .nav_close {
    top: 30px;
    right: 25px; } }

@media screen and (max-width: 767px) {
  .kvSection .kv .kvtop .kv-logo {
    top: 1.8rem;
    left: 1.5rem;
    width: 34.6%;
    max-width: 140px; }
    .kvSection .kv .kvtop .kv-logo .logo-pc {
      display: none; }
    .kvSection .kv .kvtop .kv-logo .logo-mb {
      display: block; }
  .kvSection .kv .kvtop .kv-nav {
    top: 1.8rem;
    right: 1.5rem;
    width: 30px;
    height: 30px; }
  .kvSection .kv .kvtop .kv-contact {
    top: 1.6rem;
    right: 4.5rem; }
    .kvSection .kv .kvtop .kv-contact a {
      max-width: 16px;
      font-size: 2.8rem; }
  .navigation_trigger {
    width: 30px;
    height: 30px; }
  .navigation_trigger .line1,
  .navigation_trigger .line2,
  .navigation_trigger .line3 {
    width: 30px;
    height: 2px; }
  .navigation_trigger .line1 {
    top: 1px; }
  .navigation_trigger .line2 {
    top: 12px; }
  .navigation_trigger .line3 {
    top: 23px; }
  .navigation_trigger:hover .line1 {
    width: 18px;
    -webkit-transform: translate(0, 12px) rotate(-45deg);
    -ms-transform: translate(0, 12px) rotate(-45deg);
    transform: translate(0, 12px) rotate(-45deg); }
  .navigation_trigger:hover .line3 {
    width: 18px;
    -webkit-transform: translate(1px, -11px) rotate(45deg);
    -ms-transform: translate(1px, -11px) rotate(45deg);
    transform: translate(1px, -11px) rotate(45deg); }
  .contents_nav .nav_close {
    width: 30px;
    height: 30px; }
  .contents_nav .nav_close .line1,
  .contents_nav .nav_close .line2 {
    top: 0.7rem;
    right: 0;
    width: 30px;
    height: 2px; }
  .contents_nav .nav_list.nav_in {
    margin: 45% auto 0; }
  .contents_nav .nav_list .item a {
    font-size: 28px;
    font-size: 2.8rem;
    margin: 0 auto 8px;
    padding: 0 0 45px; } }

.time-wrapper .time-kv {
  width: 100%;
  position: relative; }
  .time-wrapper .time-kv .bg-img {
    width: 100%;
    background: url(../images/pt1_kv_pc.jpg) no-repeat top center;
    background-size: 100%; }
    .time-wrapper .time-kv .bg-img:before {
      content: "";
      display: block;
      background: url(../images/pt1_kv_pc_light.jpg) no-repeat top center;
      background-size: 100%;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      -webkit-animation: img_shine 1.5s linear infinite alternate;
      animation: img_shine 1.5s linear infinite alternate; }
  .time-wrapper .time-kv .time-kv-txt {
    position: absolute;
    z-index: 2;
    padding-left: 23.6%;
    padding-top: 365px; }
    .time-wrapper .time-kv .time-kv-txt p {
      font-size: 3.5rem;
      padding-bottom: 30px;
      letter-spacing: 0.1rem;
      font-family: "Microsoft JhengHei", "微軟正黑體"; }
    .time-wrapper .time-kv .time-kv-txt h2 {
      font-size: 4.5rem;
      font-family: "Noto Serif TC";
      font-weight: 800;
      letter-spacing: 0.1rem;
      padding-bottom: 15px; }
    .time-wrapper .time-kv .time-kv-txt h1 {
      font-size: 6rem;
      font-family: "Noto Serif TC";
      font-weight: 800;
      letter-spacing: 0.1rem; }

.time-wrapper .gotopBtn {
  max-width: 70px;
  margin: 0 auto 50px;
  text-align: center; }
  .time-wrapper .gotopBtn a {
    display: block;
    position: relative;
    text-decoration: none; }
    .time-wrapper .gotopBtn a:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      -webkit-animation-duration: 0.2s;
      animation-duration: 0.2s;
      -webkit-animation-name: gsbgani;
      animation-name: gsbgani;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
      background: url("../images/gotop02.png") no-repeat center;
      background-size: 100%; }

.time-pt2-igdt {
  text-align: center; }
  .time-pt2-igdt .intro {
    background: url(../images/pt2_bg_pc.jpg) no-repeat top center;
    background-size: 100%;
    width: 100%;
    position: relative; }
    .time-pt2-igdt .intro .contentWrap {
      position: absolute;
      left: 0;
      top: 0;
      right: 0; }
      .time-pt2-igdt .intro .contentWrap .content {
        padding-bottom: 50px; }
        .time-pt2-igdt .intro .contentWrap .content p {
          font-size: 3.5rem;
          font-family: 'Noto Serif TC';
          font-weight: 800;
          letter-spacing: 0.3rem; }
        .time-pt2-igdt .intro .contentWrap .content h1 {
          font-size: 6rem;
          font-family: 'Noto Serif TC';
          font-weight: 800;
          letter-spacing: 0.3rem;
          padding: 30px 0; }
      .time-pt2-igdt .intro .contentWrap .des-sec p {
        padding-top: 70px;
        font-size: 2.4rem;
        line-height: 4rem; }
      .time-pt2-igdt .intro .contentWrap .des-sec .parallax-window {
        max-width: 1260px;
        margin: 0 auto;
        min-height: 353px;
        background: transparent; }
  .time-pt2-igdt .ingredient {
    position: relative; }
    .time-pt2-igdt .ingredient .content {
      position: absolute;
      z-index: 1;
      width: 100%;
      margin: 0 auto;
      padding-top: 50px;
      color: #fff5f3; }
      .time-pt2-igdt .ingredient .content h1 {
        font-size: 6rem;
        font-family: 'Noto Serif TC';
        font-weight: 800;
        letter-spacing: 0.3rem; }
      .time-pt2-igdt .ingredient .content p {
        font-size: 3.5rem;
        font-family: "Noto Serif TC";
        font-weight: 800;
        letter-spacing: 0.3rem;
        padding-top: 30px; }
    .time-pt2-igdt .ingredient .ingredients {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%; }
      .time-pt2-igdt .ingredient .ingredients .igdtWrap {
        position: relative;
        font-family: "Microsoft JhengHei", "微軟正黑體";
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; }
        .time-pt2-igdt .ingredient .ingredients .igdtWrap .igdtText {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 80%;
          padding-top: 55%;
          opacity: 1; }
          .time-pt2-igdt .ingredient .ingredients .igdtWrap .igdtText .flare {
            width: 305px;
            height: 118px;
            background: url(../images/flare.png) center;
            background-size: 100%;
            text-indent: -9999px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -7px;
            -webkit-animation: flare_shine 0.12s infinite;
            animation: flare_shine 0.12s infinite;
            z-index: 1;
            pointer-events: none; }
          .time-pt2-igdt .ingredient .ingredients .igdtWrap .igdtText p {
            cursor: pointer;
            display: block;
            position: relative;
            line-height: 4.5rem;
            text-align: center;
            border: #e3c8c8 2px solid;
            font-size: 4rem;
            letter-spacing: 0.2rem;
            color: #fff;
            padding-top: 25px;
            padding-bottom: 25px;
            overflow: hidden; }
            .time-pt2-igdt .ingredient .ingredients .igdtWrap .igdtText p span {
              font-size: 2.4rem;
              display: block; }
            .time-pt2-igdt .ingredient .ingredients .igdtWrap .igdtText p::before {
              content: "";
              background: url(../images/shine_light.png);
              background-position: center;
              background-size: cover;
              position: absolute;
              width: 200%;
              height: 200%;
              margin-top: -30%;
              display: block;
              pointer-events: none;
              -webkit-animation: btn-shine 4s ease 1s infinite;
              animation: btn-shine 4s ease 1s infinite; }
          .time-pt2-igdt .ingredient .ingredients .igdtWrap .igdtText img {
            padding-top: 30px;
            width: 41px; }
        .time-pt2-igdt .ingredient .ingredients .igdtWrap .igdtTextAfter {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 80%;
          padding-top: 55%;
          opacity: 0;
          -webkit-transform: translateY(50px);
          -ms-transform: translateY(50px);
          transform: translateY(50px); }
          .time-pt2-igdt .ingredient .ingredients .igdtWrap .igdtTextAfter p {
            color: #fff;
            font-size: 2.4rem;
            line-height: 1.5;
            letter-spacing: 0.2rem;
            text-shadow: 0.2em 0.2em 0.3em #170808; }
        .time-pt2-igdt .ingredient .ingredients .igdtWrap:hover .igdtText {
          opacity: 0;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
        .time-pt2-igdt .ingredient .ingredients .igdtWrap:hover .igdtTextAfter {
          opacity: 1;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
      .time-pt2-igdt .ingredient .ingredients .igdtTextAfter.on {
        display: block; }
      .time-pt2-igdt .ingredient .ingredients img {
        width: 100%; }

.time-wrapper .time-pt3-product {
  background: url(../images/pt3_bg_pc.jpg) no-repeat top center;
  background-size: 100%;
  position: relative; }
  .time-wrapper .time-pt3-product .productWrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .time-wrapper .time-pt3-product .productWrap .time-product-txt {
      text-align: center;
      padding-top: 185px; }
      .time-wrapper .time-pt3-product .productWrap .time-product-txt p {
        font-size: 3.5rem;
        font-family: 'Noto Serif TC';
        font-weight: 800;
        letter-spacing: 0.3rem; }
      .time-wrapper .time-pt3-product .productWrap .time-product-txt h1 {
        font-size: 6rem;
        font-family: 'Noto Serif TC';
        font-weight: 800;
        letter-spacing: 0.3rem;
        padding: 30px 0; }
    .time-wrapper .time-pt3-product .productWrap .productSlider {
      width: 66%;
      margin: 0 auto; }
      .time-wrapper .time-pt3-product .productWrap .productSlider .btns {
        max-width: 946px;
        height: 464px;
        margin: 0 auto;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
        .time-wrapper .time-pt3-product .productWrap .productSlider .btns a {
          text-decoration: none; }
        .time-wrapper .time-pt3-product .productWrap .productSlider .btns.bg00 {
          background: url(../images/product_all_1.png) no-repeat top center;
          background-size: 100%; }
        .time-wrapper .time-pt3-product .productWrap .productSlider .btns.bg01 {
          background: url(../images/product_all_2.png) no-repeat top center;
          background-size: 100%; }
        .time-wrapper .time-pt3-product .productWrap .productSlider .btns.bg02 {
          background: url(../images/product_all_3.png) no-repeat top center;
          background-size: 100%; }
        .time-wrapper .time-pt3-product .productWrap .productSlider .btns.bg03 {
          background: url(../images/product_all_4.png) no-repeat top center;
          background-size: 100%; }
        .time-wrapper .time-pt3-product .productWrap .productSlider .btns.bg04 {
          background: url(../images/product_all_5.png) no-repeat top center;
          background-size: 100%; }
        .time-wrapper .time-pt3-product .productWrap .productSlider .btns.bg05 {
          background: url(../images/product_all_6.png) no-repeat top center;
          background-size: 100%; }
        .time-wrapper .time-pt3-product .productWrap .productSlider .btns.bg06 {
          background: url(../images/product_all_7.png) no-repeat top center;
          background-size: 100%; }
      .time-wrapper .time-pt3-product .productWrap .productSlider .btnWrap {
        position: relative; }
        .time-wrapper .time-pt3-product .productWrap .productSlider .btnWrap .btnsBlank {
          position: absolute;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row; }
    .time-wrapper .time-pt3-product .productWrap .owl-carousel {
      width: 100%;
      margin: 0 auto; }
      .time-wrapper .time-pt3-product .productWrap .owl-carousel .item .product-detail-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-line-pack: center;
        align-content: center;
        width: 100%; }
        .time-wrapper .time-pt3-product .productWrap .owl-carousel .item .product-detail-wrap .product-photo {
          width: 45%; }
          .time-wrapper .time-pt3-product .productWrap .owl-carousel .item .product-detail-wrap .product-photo img {
            width: 85%;
            margin: 0 auto;
            margin-right: 0; }
        .time-wrapper .time-pt3-product .productWrap .owl-carousel .item .product-detail-wrap .product-content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: left;
          -ms-flex-align: left;
          align-items: left;
          padding-top: 50px;
          margin-right: 50px;
          width: 55%; }
          .time-wrapper .time-pt3-product .productWrap .owl-carousel .item .product-detail-wrap .product-content h2 {
            font-size: 4rem;
            font-family: "Noto Serif TC";
            font-weight: 800;
            letter-spacing: 0.3rem; }
          .time-wrapper .time-pt3-product .productWrap .owl-carousel .item .product-detail-wrap .product-content .price {
            font-size: 2.8rem;
            font-family: "Noto Serif TC";
            font-weight: 800;
            letter-spacing: 0.3rem;
            padding: 25px 0; }
          .time-wrapper .time-pt3-product .productWrap .owl-carousel .item .product-detail-wrap .product-content .desc {
            font-size: 2.4rem;
            line-height: 1.5;
            padding-right: 50px; }

.owl-carousel .prev-slide, .owl-carousel .next-slide {
  z-index: 3; }

.time-wrapper .time-pt4-event .event1 {
  background: url(../images/pt4_bg_pc.jpg) no-repeat top center;
  background-size: 100%;
  position: relative; }
  .time-wrapper .time-pt4-event .event1 .event1Wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 28.3%; }
    .time-wrapper .time-pt4-event .event1 .event1Wrap .time-event1-txt {
      text-align: center;
      padding-top: 185px; }
      .time-wrapper .time-pt4-event .event1 .event1Wrap .time-event1-txt p {
        font-size: 3.5rem;
        font-family: 'Noto Serif TC';
        font-weight: 800;
        letter-spacing: 0.3rem; }
      .time-wrapper .time-pt4-event .event1 .event1Wrap .time-event1-txt h1 {
        font-size: 6rem;
        font-family: 'Noto Serif TC';
        font-weight: 800;
        letter-spacing: 0.3rem;
        padding: 30px 0; }
    .time-wrapper .time-pt4-event .event1 .event1Wrap .ytvideo {
      margin: 60px 0; }
      .time-wrapper .time-pt4-event .event1 .event1Wrap .ytvideo .video picture .video {
        max-width: 830px; }
    .time-wrapper .time-pt4-event .event1 .event1Wrap .time-event1-txt2 {
      text-align: center; }
      .time-wrapper .time-pt4-event .event1 .event1Wrap .time-event1-txt2 .eventH3 {
        padding: 30px 0 55px 0; }

.time-wrapper .time-pt4-event .event2 {
  background: url(../images/pt5_bg_pc.jpg) no-repeat top center;
  background-size: 100%;
  position: relative;
  text-align: center; }
  .time-wrapper .time-pt4-event .event2 .event2Wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .time-wrapper .time-pt4-event .event2 .event2Wrap .note {
      font-size: 1.4rem;
      color: #a2826e;
      line-height: 1.5;
      padding: 20px 28.3% 0; }
      .time-wrapper .time-pt4-event .event2 .event2Wrap .note:nth-of-type(1) {
        text-align: left; }
    .time-wrapper .time-pt4-event .event2 .event2Wrap .time-event2-txt {
      text-align: center;
      padding-top: 100px; }
      .time-wrapper .time-pt4-event .event2 .event2Wrap .time-event2-txt .eventH3 {
        padding: 30px 0 55px 0; }
      .time-wrapper .time-pt4-event .event2 .event2Wrap .time-event2-txt .eventH4 span {
        font-size: 4rem;
        font-weight: bold; }
      .time-wrapper .time-pt4-event .event2 .event2Wrap .time-event2-txt .eventP {
        text-align: center; }
    .time-wrapper .time-pt4-event .event2 .event2Wrap .event2-photo-wrap {
      position: relative; }
      .time-wrapper .time-pt4-event .event2 .event2Wrap .event2-photo-wrap .event2-photo {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 80%;
        margin: 0 auto; }
        .time-wrapper .time-pt4-event .event2 .event2Wrap .event2-photo-wrap .event2-photo .item {
          position: relative;
          width: 100%;
          margin-top: -100px; }
          .time-wrapper .time-pt4-event .event2 .event2Wrap .event2-photo-wrap .event2-photo .item .text-bubble {
            position: absolute;
            top: -80px;
            right: 450px;
            width: 70%; }
          .time-wrapper .time-pt4-event .event2 .event2Wrap .event2-photo-wrap .event2-photo .item .event-model {
            position: absolute;
            top: -50px;
            right: 50px;
            width: 50%; }
    .time-wrapper .time-pt4-event .event2 .event2Wrap .shopBtn {
      display: block;
      padding: 40px 0; }

.time-wrapper .time-pt4-event .eventP {
  padding: 40px 0; }

.eventH2 {
  font-size: 4.5rem;
  font-family: "Noto Serif TC";
  font-weight: 800;
  letter-spacing: 0.4rem; }

.eventH3::before, .eventH3::after {
  content: "";
  width: 160px;
  height: 1px;
  background-color: #73241a;
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px;
  position: relative;
  top: -8px; }

.eventH3 span {
  font-size: 3rem;
  font-family: "Noto Serif TC";
  font-weight: 800;
  letter-spacing: 0.4rem; }

.eventH4 {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  line-height: 1.5; }

.eventP {
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  text-align: left; }

/* light box */
.lightbox {
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
  position: fixed;
  display: none;
  z-index: 20;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0; }

.lightbox-container {
  position: relative;
  max-width: 960px;
  margin: 10% auto;
  display: block;
  padding: 0 3%;
  height: auto;
  z-index: 0;
  margin-top: 18%; }

.lightbox-content {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7); }

.lightbox-close {
  text-transform: uppercase;
  background: transparent;
  position: absolute;
  font-weight: 300;
  font-size: 12px;
  display: block;
  border: none;
  color: white;
  top: -22px;
  right: 3%;
  z-index: 3; }

.video-container {
  padding-bottom: 56.25%;
  position: relative;
  padding-top: 30px;
  overflow: hidden;
  height: 0; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0; }

.lightbox-content {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7); }

.lightbox-close {
  text-transform: uppercase;
  background: transparent;
  position: absolute;
  font-weight: 300;
  font-size: 12px;
  display: block;
  border: none;
  color: white;
  top: -22px;
  right: 3%;
  z-index: 3; }

.video-container {
  padding-bottom: 56.25%;
  position: relative;
  padding-top: 30px;
  overflow: hidden;
  height: 0; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0; }

/* light box */
.ytvideo {
  margin: 0 auto;
  width: 100%;
  width: 100%;
  text-align: center; }

.ytvideo .video picture .video {
  display: block;
  width: 100%;
  margin: 0 auto; }

.ytvideo .video picture .play_btn {
  display: block;
  margin: -32% auto; }

.eventSection {
  width: 100%;
  background: -webkit-linear-gradient(to right, #c4a18b, #e5bda4, #c4a18b);
  background: -webkit-gradient(linear, left top, right top, from(#c4a18b), color-stop(#e5bda4), to(#c4a18b));
  background: -webkit-linear-gradient(left, #c4a18b, #e5bda4, #c4a18b);
  background: -o-linear-gradient(left, #c4a18b, #e5bda4, #c4a18b);
  background: linear-gradient(to right, #c4a18b, #e5bda4, #c4a18b);
  text-align: left; }
  .eventSection .locationbox {
    max-width: 100%; }
    .eventSection .locationbox .selectBox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border: 1px solid #fff; }
      .eventSection .locationbox .selectBox .locationLabel {
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1.5;
        color: #fff;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 237px;
        flex: 0 0 237px;
        padding: 10px; }
      .eventSection .locationbox .selectBox .locationSelect {
        width: 100%;
        padding-left: 20px; }
        .eventSection .locationbox .selectBox .locationSelect select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 100%;
          background: url("../images/tableArrow.png") no-repeat right 45px center;
          background-size: 30px;
          padding: 10px;
          font-size: 24px;
          font-size: 2.4rem;
          line-height: 1.5;
          color: #fff;
          border: none; }
          .eventSection .locationbox .selectBox .locationSelect select option {
            background-color: #e5bda4; }
    .eventSection .locationbox .locationResult .result {
      display: none;
      color: #fff;
      font-size: 24px;
      font-size: 2.4rem; }
      .eventSection .locationbox .locationResult .result.on {
        display: block; }
      .eventSection .locationbox .locationResult .result .name,
      .eventSection .locationbox .locationResult .result .tel,
      .eventSection .locationbox .locationResult .result .time {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        line-height: 1.5;
        padding: 10px;
        border: 1px solid #fff; }
        .eventSection .locationbox .locationResult .result .name .tit,
        .eventSection .locationbox .locationResult .result .tel .tit,
        .eventSection .locationbox .locationResult .result .time .tit {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 237px;
          flex: 0 0 237px;
          color: #fff; }
        .eventSection .locationbox .locationResult .result .name .txt,
        .eventSection .locationbox .locationResult .result .tel .txt,
        .eventSection .locationbox .locationResult .result .time .txt {
          padding-left: 20px; }
      .eventSection .locationbox .locationResult .result a {
        text-decoration: none;
        color: #fff; }
